<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello</title>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
</head>
<body>
    <form method="post" class="contains">
        <div class="container">
        <% for(item of products) {%>
                <label for="<%=item.id%>" class="product">
                    <img src="<%=item.img%>" alt="blahaj">
                    <input type="radio" name="blahaj" id="<%=item.id%>" value="<%=item.id%>">
                <%=item.id%> blahaj</label>
        <% } %>
        </div>
        <br/>
        <div>
        <hr>
        <p>Személyes adatok:</p>
        <ul>
            <div>
                <label for="nev">Teljes név:<br/></label>
                <input type="text" name="nev"><br>
            </div>
            <div>
                <p>Szállítási adatok:</p>
                <label for="postCode">PostCode:</label>
                <input type="text" name="postCode">
                <label for="city">Város:</label>
                <input type="text" name="city"><br>
                <label for="street">Utca:</label>
                <input type="text" name="street">
                <label for="num">Házszám:</label>
                <input type="text" name="num"><br>
            </div>   
            <div>
                <p>Számlázási adatok:</p>
                <label for="postCode">PostCode:</label>
                <input type="text" name="postCode">
                <label for="city">Város:</label>
                <input type="text" name="city"><br>
                <label for="street">Utca:</label>
                <input type="text" name="street">
                <label for="num">Házszám:</label>
                <input type="text" name="num"><br>
            </div> 
        </ul>
        <hr>
        <p>Banki adatok:</p>
        <ul>
            <div class="stuff">
                <label for="szam">Bankártyaszám:</label>
                <input type="text" name="szam"><br/>
                <label for="datum">Lejárati dátum:</label>
                <input type="date" name="datum"><br/>
                <label for="pin">Pin:</label>
                <input type="text" name="pin">
            </div>
        </ul>
        </div>
        <input type="submit" value="Vásárlás">
    </form>
</body>
</html>