<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello</title>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
</head>
<body>
    <form method="post" class="contains">
        <div class="container">
        <% for(item of products) {%>
                <label for="<%=item.id%>" class="product">
                    <img src="<%=item.img%>" alt="blahaj">
                    <input type="radio" name="blahaj" id="<%=item.id%>" value="<%=item.id%>">
                <%=item.id%> blahaj</label>
        <% } %>
        </div>
        <br/>
        <div>
            <hr>
            <p>Személyes adatok:</p>
            <ul>
                <div>
                    <label for="name">Teljes név:<br/></label>
                    <input type="text" name="name" id="name" value="<%= data.name %>"><br>
                </div>
        
                <div>
                    <p>Szállítási adatok:</p>
                    <label for="post_id">PostCode:</label>
                    <input type="text" name="post_id" id="post_id" value="<%= data.post_id %>"><br>
        
                    <label for="post_city">Város:</label>
                    <input type="text" name="post_city" id="post_city" value="<%= data.post_city %>"><br>
        
                    <label for="post_street">Utca:</label>
                    <input type="text" name="post_street" id="post_street" value="<%= data.post_street %>"><br>
        
                    <label for="post_houseNumber">Házszám:</label>
                    <input type="text" name="post_houseNumber" id="post_houseNumber" value="<%= data.post_houseNumber %>"><br>
                </div>   
        
                <div>
                    <p>Számlázási adatok:</p>
                    <label for="bill_id">PostCode:</label>
                    <input type="text" name="bill_id" id="bill_id" value="<%= data.bill_id %>"><br>
        
                    <label for="bill_city">Város:</label>
                    <input type="text" name="bill_city" id="bill_city" value="<%= data.bill_city %>"><br>
        
                    <label for="bill_street">Utca:</label>
                    <input type="text" name="bill_street" id="bill_street" value="<%= data.bill_street %>"><br>
        
                    <label for="bill_houseNumber">Házszám:</label>
                    <input type="text" name="bill_houseNumber" id="bill_houseNumber" value="<%= data.bill_houseNumber %>"><br>
        
                    <label for="bill_number">Számla szám:</label>
                    <input type="text" name="bill_number" id="bill_number" value="<%= data.bill_number %>"><br>
                </div> 
            </ul>
            <hr>
            <p>Banki adatok:</p>
            <ul>
                <div class="stuff">
                    <label for="purchase_number">Bankártyaszám:</label>
                    <input type="text" name="purchase_number" id="purchase_number"><br/>
        
                    <label for="purchase_expire">Lejárati dátum:</label>
                    <input type="date" name="purchase_expire" id="purchase_expire"><br/>
        
                    <label for="purchase_pin">Pin:</label>
                    <input type="text" name="purchase_pin" id="purchase_pin">
                </div>
            </ul>
        </div>
        <% for(let item of errors){%><p style="color: red;"><%=item%></p><%}%>
        <input type="submit" value="Vásárlás">
    </form>
</body>
</html>